{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ conference.name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>
<body>
    <a href="{% url 'conferences_list' %}">← К списку конференций</a>

    <h1>{{ conference.name }}</h1>

    <a href="{% url 'register_presentation' conference.pk %}">Зарегистрировать своё выступление</a>

    <h2>Даты проведения:</h2>
    <p>{{ conference.start_date }} - {{ conference.end_date }}</p>

    <h2>Место проведения:</h2>
    <p>{{ conference.venue_name | default:"Не указано" }}</p>

    <h2>Описание:</h2>
    <p>{{ conference.description | default:"Не указано" }}</p>

    <h2>Темы:</h2>
    <p>{{ conference.topics | default:"Не указаны" }}</p>

    <h2>Условия участия:</h2>
    <p>{{ conference.participation_conditions | default:"Не указаны" }}</p>

    <h2>Описание места проведения:</h2>
    <p>{{ conference.venue_description | default:"Не указано" }}</p>
</body>
</html>
